footer {
    background-color: #1F1811;
    width: 100%;
    color: #A9AEA8;
    padding-bottom: 2%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content a {
    margin-top: 2%;
    text-decoration: none;
    color: #A9AEA8;
}

footer p {
    margin-top: 3%;
    text-align: end;
}

@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }
}