@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background-color: #EADCC7;
    font-family: 'Satisfy', cursive;
    height: 100%;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}